name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - run: bun run check

      - run: bun build --compile --minify src/index.ts --outfile dist/smart-scribe-linux-x86_64

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/smart-scribe-linux-x86_64
          generate_release_notes: true
